/*body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}*/

.sidebar .icon {
  padding-right: 5px;
}

.sk-three-bounce {
  text-align: center;
}

.order-totals {
  float: right;
}

.order-totals-titles{
  font-weight: 500;
}

.order-body h4 {
  font-weight: 500;
}